@font-face {
    font-family:sekuya ;
    src: url("./Sekuya-Regular.ttf");
}

.header{
    width: 97%;
    background-color: antiquewhite;
    color: rgb(71, 26, 26);
    text-decoration: none;
    height: 10vh;
    text-size-adjust: initial;
    padding: 15px;
}
a{
    text-decoration: none;
    color: rgb(77, 28, 28);
    font-family: sekuya;
    text-size-adjust: 10;
}
.image{
   width: 500px;
   height: 500px; 
   border-radius: 59px 59px 59px 59px;
   border: 6px solid black;
   margin-left: 400;
}

img{
    width: 500;
    height: 500;
 background-color:aquamarine;
 border-radius: 59px 59px 59px 59px;
}
.reel{
    text-decoration: none;
}